/* color palette scorvol {

} */
.scorvol {
  color: #9888e8;
  color: #5860a0;
  color: #f8d800;
  color: #404050;
  color: #d83868;
}

.raichu {
  color: #f4ad39;
  color: #8e765e;
  color: #f5db2c;
  color: #3f1c18;
}

.leviator {
  color: #4aaaf4;
  color: #198ab3;
  color: #f3f1a8;
  color: #f85f36;
  color: #f6f6f6;
}
