/* Fonts */
@font-face {
  font-family: "Nova";
  font-style: normal;
  font-display: swap;
  src: url("assets/fonts/NovaRound-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Pokemon";
  font-style: normal;
  font-display: swap;
  src: url("assets/fonts/PokemonSolid.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-display: swap;
  src: url("assets/fonts/Roboto-Regular.ttf") format("truetype");
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::before {
  content: "";
  position: absolute;
  background: linear-gradient(rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5) 100%), url("assets/images/home.jpg") no-repeat center center fixed;
  background-color: #000;
  background-size: cover;
  z-index: -1;
  height: 100%;
  width: 100%;
  filter: contrast(75%);
  box-shadow: inset 0px 0px 150px black;
}

.game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 1rem;
  padding: 2rem;
}

.flag-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.flag-container h1 {
  font-family: "Pokemon", sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-size: 2.5rem;
}

.flag-container h2 {
  font-family: "Nova", sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-size: 2.5rem;
}

.pokemons-container {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
}

.pokemons-container > .generation-range {
  font-family: "Pokemon", sans-serif;
  color: black;
  background-color: #2a75bb;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  cursor: pointer;
  opacity: 0.4;
  margin-top: 10px;
  transition: opacity 0.2s ease-out;
}

.pokemons-container > .generation-range.active {
  opacity: 1;
}

.pokemons-container > .difficult-range {
  font-family: "Pokemon", sans-serif;
  color: black;
  background-color: #eac787;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 16px;
  height: fit-content;
  cursor: pointer;
  opacity: 0.4;
  transition: opacity 0.2s ease-out;
}

.pokemons-container > .difficult-range.active {
  opacity: 1;
}

.pokemon-display-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
